.card {
  position: relative;
  width: 323px;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.card__header {
  position: absolute;
  margin: 15px 0 0;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.card__title {
  margin: 0;
  padding: 2px 12px;
  top: 15px;
  color: #00000099;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
}

.card__like-button {
  margin: 3px 0 0;
  padding: 0;
  width: 18px;
  height: 15px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.card__image {
  width: 100%;
  border: 1px solid #0000004d;
  border-radius: 12px;
  box-sizing: border-box;
  object-fit: cover;
}
