.app {
  background-color: #f3f3f3;
  color: #000000;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app__content {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
