.sidebar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  width: 229px;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  border: 2px solid #808080;
  border-radius: 50%;
  object-fit: cover;
}

.sidebar__avatar-placeholder {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 2px solid #808080;
  background-color: #d3d3d3;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 30px;
}

.sidebar__username {
  margin: 0;
}
