.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 229px;
}

.sidebar__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  border: 2px solid #808080;
  border-radius: 50%;
  object-fit: cover;
}

.sidebar__avatar-placeholder {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 2px solid #808080;
  background-color: #d3d3d3;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 30px;
}

.sidebar__username {
  margin: 0;
}

.sidebar__edit-button {
  margin: 24px 0 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 700;
  line-height: 24px;
}

.sidebar__logout-button {
  margin: 8px 0 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 700;
  line-height: 24px;
}
