.register-modal__secondary-button {
  background: none;
  border: none;
  color: #00000080;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  position: absolute;
  bottom: 44px;
  left: 126px;
}
